In [59]:
import numpy as np
import pandas as pd

In [60]:
#Meses invierno verano, 1 es verano, 0 es invierno.
inv_verano = pd.read_excel('../02_data/verano.xlsx', sheet_name='veranos')

inv_verano = pd.melt(inv_verano, id_vars=['zona'], value_vars=inv_verano.columns[1:] , var_name='mes', value_name='inv_verano')
inv_verano = inv_verano.sort_values(by=['mes']).reset_index(drop=True)

# inv_verano = pd.pivot_table(data=inv_verano, index=['zona'], columns=['mes'], values='inv_verano')
inv_verano

            zona         mes  inv_verano
0       valdivia       abril           0
1         arauco       abril           0
2   constitucion       abril           1
3        chillan       abril           0
4       valdivia      agosto           0
5         arauco      agosto           0
6   constitucion      agosto           0
7        chillan      agosto           0
8       valdivia   diciembre           0
9   constitucion   diciembre           1
10       chillan   diciembre           1
11        arauco   diciembre           1
12       chillan       enero           1
13  constitucion       enero           1
14        arauco       enero           1
15      valdivia       enero           1
16       chillan     febrero           1
17  constitucion     febrero           1
18        arauco     febrero           1
19      valdivia     febrero           0
20      valdivia       julio           0
21        arauco       julio           0
22  constitucion       julio           0
23       chillan       julio           0
24      valdivia       junio           0
25  constitucion       junio           0
26       chillan       junio           0
27        arauco       junio           0
28  constitucion       marzo           1
29       chillan       marzo           1
30        arauco       marzo           1
31      valdivia       marzo           0
32       chillan        mayo           0
33      valdivia        mayo           0
34        arauco        mayo           0
35  constitucion        mayo           0
36      valdivia   noviembre           0
37        arauco   noviembre           1
38  constitucion   noviembre           1
39       chillan   noviembre           1
40      valdivia     octubre           0
41  constitucion     octubre           1
42        arauco     octubre           0
43       chillan     octubre           1
44      valdivia  septiembre           0
45        arauco  septiembre           0
46  constitucion  septiembre           0
47       chillan  septiembre           0

In [61]:
#Carga de plantas

base_plantas = pd.read_excel('../02_data/plantas.xlsx', sheet_name='plantas')
base_plantas.head()

#Lectura consumo plantas
consumo_plantas = pd.read_excel('../02_data/plantas.xlsx', sheet_name='consumo_plantas')
display(consumo_plantas.head())

#Lectura de parametros planta
parametros_planta = pd.read_excel('../02_data/plantas.xlsx', sheet_name='parametros_planta')
parametros_planta

  nombre_planta especie corteza  mes_planificado  volumen_consumo
0       planta1    EUNI      sc                1              100
1       planta1    EUNI      sc                2              100
2       planta1    EUNI      sc                3              100
3       planta1    EUGL      sc                1              100
4       planta1    EUGL      sc                2              100

,id_plantatipo,nombre_planta,corteza,especie,capacidad,stock_seguridad_planta,stock_inicial
0,1,planta1,sc,EUNI,40,20,20
1,2,planta1,cc,EUNI,40,20,20
2,3,planta1,sc,EUGL,40,20,20
3,4,planta1,cc,EUGL,40,20,20

In [62]:
#Carga Ingresos: Compras y produccion
base_ingresos = pd.read_excel('../02_data/ingresos.xlsx', sheet_name='ingresos')
base_ingresos.head()

,id_ingreso,nombre_ingreso,nombre_planta,corteza,especie,zona,costo existencia,costo transporte,tipo_ingreso,almacen_verano,almacen_invierno,tipo_almacen,cosecha_compra
0,1,produccion EUNI constitucion sc,planta1,sc,EUNI,constitucion,10,20,directo_planta,N_A,N_A,bosque,cosecha
1,2,produccion EUNI arauco sc,planta1,sc,EUNI,arauco,10,20,directo_planta,N_A,N_A,bosque,cosecha
2,3,produccion EUNI valdivia sc,planta1,sc,EUNI,valdivia,10,20,directo_planta,N_A,N_A,bosque,cosecha
3,4,produccion EUGL constitucion sc,planta1,sc,EUGL,constitucion,10,20,directo_planta,N_A,N_A,bosque,cosecha
4,5,produccion EUGL arauco sc,planta1,sc,EUGL,arauco,10,20,directo_planta,N_A,N_A,bosque,cosecha

In [63]:
#Carga Ingreso: Volumen mensual
base_ingreso_vol = pd.read_excel('../02_data/ingresos_volumen.xlsx', sheet_name='ingresovolumen')
base_ingreso_vol.head()

   id_ingreso  mes  volumen
0           1    1       20
1           1    2       30
2           1    3       40
3           2    1       20
4           2    2       30

In [64]:
#Carga de Almacenes

base_almacenes = pd.read_excel('../02_data/Almacenes.xlsx', sheet_name='almacenes')
base_almacenes.head()

,id_almacen,nombre_almacen,corteza,especie,zona,id_planta,id_almacen_acanche,carpeta,cosecha_compra,tipo_almacen,costo_existencia,capacidad
0,alm1,Cancha compra EUNI,cc,EUNI,chillan,1,N_A,N_A,compra,cancha,10,100
1,alm2,Cancha compra sc EUNI,sc,EUNI,chillan,1,N_A,N_A,compra,cancha,10,100
2,alm3,Cancha compra EUGL,cc,EUGL,chillan,1,N_A,N_A,compra,cancha,10,100
3,alm4,Cancha compra sc EUGL,sc,EUGL,chillan,1,N_A,N_A,compra,cancha,10,100
4,alm5,Cancha cosecha EUGL sc,sc,EUGL,chillan,1,N_A,N_A,cosecha,cancha,10,100

In [65]:
rango_mes_tipo = pd.read_excel('../02_data/parametro_antiguedad.xlsx', sheet_name='rango_mes_tipo')
rangos_demanda = pd.read_excel('../02_data/parametro_antiguedad.xlsx', sheet_name='parametro_antiguedad')

   mes_planificado  id_plantatipo  id_tipo_rango
0                1              1              1
1                2              1              2
2                3              1              3

In [73]:
## Matriz de demandas.
proyeccion = 12

demanda = pd.DataFrame(columns=['mes_planificado', 'planta', 'especie', 'corteza', 'demanda'])

#Consumo_planta_tipo + parametros_planta_tipo
#Calculo demanda
df = pd.merge(consumo_plantas, parametros_planta, on=['nombre_planta', 'especie', 'corteza'])
df.loc[df['mes_planificado'] != 1, 'stock_inicial'] = 0
df['demanda'] = df['volumen_consumo'] + df['stock_seguridad_planta'] - df['stock_inicial']

#Agregar los tipos de rango por mes
df = pd.merge(df, rango_mes_tipo, how='left', on=['mes_planificado', 'id_plantatipo'])
df = pd.merge(df, rangos_demanda, how='left', on='id_tipo_rango')
df['demanda_rango'] = df['demanda'] * df['porcentaje']
df = df[['id_plantatipo', 'nombre_planta', 'especie', 'corteza', 'mes_planificado', 'rango', 'demanda_rango']].dropna()
df

,id_plantatipo,nombre_planta,especie,corteza,mes_planificado,rango,demanda_rango
0,1,planta1,EUNI,sc,1,0-3,70.0
1,1,planta1,EUNI,sc,1,4-6,20.0
2,1,planta1,EUNI,sc,1,7-9,10.0
3,1,planta1,EUNI,sc,2,0-3,84.0
4,1,planta1,EUNI,sc,2,4-6,12.0
5,1,planta1,EUNI,sc,2,7-13,24.0
6,1,planta1,EUNI,sc,3,0-3,72.0
7,1,planta1,EUNI,sc,3,4-6,24.0
8,1,planta1,EUNI,sc,3,7-9,12.0
9,1,planta1,EUNI,sc,3,10-13,12.0